body {
  font-family: 'Times New Roman', Times, serif;
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  line-height: 1.6;
  background-color: #e7e7d9;
  color: #333;
  text-align: justify;
}


h1, h2 {
  color: #043569;
    text-align: center;
}